<nz-layout class="main">
  <nz-sider>
    <div class="logo">NGX-Ckeditor4</div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <ng-template ngFor let-x [ngForOf]="routerlinks">
        <li nz-menu-item [routerLink]="x.path" [nzSelected]="active_path===x.path">
          {{x.label}}
        </li>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
